<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula02 - Blog</title>
</head>
<body>
    (% for pp in posts % )
        <div>
            <h2>{{pp.titulo}}</h2>
                <p><strong>Autor:</strong> {{pp.autor}}</p>
                <p><strong>Postado em:</strong>
                {{pp.data_postagem|date:"d/m/Y H:i"}}</p>
                <p>{{pp.conteudo}}</p>
           
        </div>
    (% endfor %)
</body>
</html>